body {
  font-family: sans-serif;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  box-shadow: -1px 3px 5px 0px #cacaca;
  background: #fff2bf;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #00a3ff;
  text-transform: uppercase;
  margin-right: 20px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #00b3ff;
}

header {
  background: #e6e6e6;
  padding: 10px 0;
}

section {
  padding: 20px;
}

section img,
section iframe {
  max-width: 100%;
}

h1 {
  color: #0068ff;
  font-size: 36px;
}

h2 {
  color: #0052c8;
}

h3 {
  text-decoration: underline;
}

footer {
  background: #e6e6e6;
  padding: 10px;
}
